@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}

.scrollbar-w-xs::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollbar-w-xs::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.scrollbar-w-xs::-webkit-scrollbar-thumb {
  border-radius: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#react-select-3-input {
  outline: none !important;
}
#react-select-3-input:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}